{% extends "layout.html" %}

{% block title %}
    Harvard Art Museums Courtyard
{% endblock %}

{% block main %}

    <h1 style="font-family: 'Carrois Gothic', sans-serif; font-size: 40px">Harvard Art Museums Courtyard</h1>

    <img src="/static/images/artmuseum.jpg" width="600" height="500">

    <h6>Source: https://www.harvardartmuseums.org/article/landmark-occasion</h6>

    <br><br>
    <div id="mapid"></div>
    <script>

        var mymap = L.map('mapid').setView([42.3745246, -71.1172788], 15);

        const tileUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}';
        const tiles = L.tileLayer(tileUrl, { attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            accessToken: 'pk.eyJ1IjoiYWxpc29uaDg4IiwiYSI6ImNrM2x6bzFsdzBtdXozanFxMWl1ajN5azYifQ.EzFW94EKtRoHCRyaaObjMg'
        });

        tiles.addTo(mymap);

        const art = L.marker([42.374154, -71.114209]).addTo(mymap);
        art.bindPopup("<b>Harvard Art Museums Courtyard</b><br>Moderate noise level<br>Normal chairs<br>Food available<br>No group study space").openPopup();

    </script>

    <br><br>
    <form action="/browse">
        <button class="btn btn-primary w3-button w3-blue" type="submit">Browse Another Space</button>
    </form>

{% endblock %}